Cap01/.ipynb_checkpoints/
Cap01/JupyterNotebook-ManualUsuario.ipynb
Cap01/hello.py
Cap02/Lab01/
Cap02/Notebooks/.ipynb_checkpoints/
Cap02/Notebooks/DSA-Python-Cap02-Exercicios-Solucao.ipynb
Cap03/Lab01/
Cap03/Notebooks/.ipynb_checkpoints/
Cap03/Notebooks/DSA-Python-Cap03-Exercicios-Funcoes-Solucao.ipynb
Cap03/Notebooks/DSA-Python-Cap03-Exercicios-Loops-Condiconais-Solucao.ipynb
Cap03/Notebooks/binary.csv
