.idea/
.vscode/

Cap01/.ipynb_checkpoints/
Cap01/JupyterNotebook-ManualUsuario.ipynb
Cap01/hello.py
Cap02/Lab01/
Cap02/Notebooks/.ipynb_checkpoints/
Cap02/Notebooks/DSA-Python-Cap02-Exercicios-Solucao.ipynb
Cap03/Lab01/
Cap03/Notebooks/.ipynb_checkpoints/
Cap03/Notebooks/DSA-Python-Cap03-Exercicios-Funcoes-Solucao.ipynb
Cap03/Notebooks/DSA-Python-Cap03-Exercicios-Loops-Condiconais-Solucao.ipynb
Cap03/Notebooks/binary.csv
Cap04/Lab02/
Cap04/Notebooks/.ipynb_checkpoints/
Cap04/Notebooks/DSA-Python-Cap04-Exercicios-Solucao.ipynb
Cap04/Notebooks/arquivos/
Cap05/Lab03/palavras.txt
Cap05/Notebooks/.ipynb_checkpoints/
Cap05/Notebooks/DSA-Python-Cap05-Exercicios-Solucao.ipynb
Cap06/Lab03/
Cap06/Notebooks/.ipynb_checkpoints/
Cap06/Notebooks/downloads/
Cap06/Notebooks/dsa.db
Cap06/Notebooks/escola.db
Cap06/Notebooks/imagens/
Cap06/Notebooks/imdb.db
Cap07/DeepLearningBook/
Cap07/DesafioDSA/Missao1/.ipynb_checkpoints/
Cap07/DesafioDSA/Missao2/.ipynb_checkpoints/
Cap07/DesafioDSA/Missao3/.ipynb_checkpoints/
Cap07/DesafioDSA/Missao4/.ipynb_checkpoints/
Cap07/DesafioDSA/Missao5/.ipynb_checkpoints/
Cap07/DesafioDSA/Missao5/dados_compras.json
Cap08/DesafioDSA_Solucao/
Cap08/Notebooks/.ipynb_checkpoints/
Cap08/Notebooks/Bokeh-GeoJSON.html
Cap08/Notebooks/Bokeh-Grafico-Barras.html
Cap08/Notebooks/Bokeh-Grafico-Circulos.html
Cap08/Notebooks/Bokeh-Grafico-Interativo.html
Cap08/Notebooks/Bokeh_grafico_Iris.html
Cap08/Notebooks/DSA-Python-Cap08-Exercicios-Solucao.ipynb
Cap08/Notebooks/dsa.db
Cap08/Notebooks/iris.csv
Cap08/Notebooks/linear.png
Cap08/Notebooks/ml_map.png
Cap08/Notebooks/salarios.csv
